<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment</title>
    <!--icon link-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="./style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="containner">
        <div class="head">
          <div class="head_left">
            <span class="material-icons">
                other_houses
                </span>
                <h1>Nhà 1</h1>
          </div>
          <div class="head_right">
            <span class="material-icons">
                add_circle_outline
            </span>
          </div>          
        </div>
        <div class="body"></div>
        <div class="nav">
            <div class="nav_item">
            <div class="icon">
                <span class="material-icons">
                home
                </span>
            </div>
            <div class="title">
                Nhà
            </div>
            </div>

            <div class="nav_item active">
            <div class="icon">
                <span class="material-icons">
                meeting_room
                </span>
            </div>
            <div class="title">
                Phòng
            </div>
            </div>

            <div class="nav_item ">
            <div class="icon">
                <span class="material-icons">
                notifications
                </span>
            </div>
            <div class="title">
                Thông báo
            </div>
            </div>
        </div>
    </div>
    <script src="./notify.js"></script>
  </body>
</html>
