*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head{
    padding: 10px 16px;
    margin: 5px 20px;
    border-bottom: 2px solid black;
}
.list{
    margin: 0 20px;
    overflow: scroll;
    overflow-x: hidden;
    min-height: 700px;
    max-height: 700px;
}
.notify_item{
    margin-top: 15px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
}
.notify_head_item{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}
.notify_head_left_item{
    padding: 7px 0;
    min-width: 130px;
    text-align: center;
    background-color: red;
    border-radius: 20px;
}
.notify_head_right_item{
    padding: 7px 0;
}
.notify_mid_item{
    margin-top: 10px;
}
.notify_mid_head_item{
    font-size: 24px;
    font-weight: bold;
}
.content{
    margin: 5px 10px;
    max-width: 100%;
}
.notify_bot_item{
    display: flex;
    justify-content: flex-end;
}
