
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containner{
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(210, 127, 10, 0.2), 0 6px 20px 0 rgba(189, 115, 11, 0.19);
}
.head{
    padding: 10px 16px;
    margin: 5px 20px;
    border-bottom: 2px solid black;
}
.list{
    margin: 0 20px;
    overflow: scroll;
    overflow-x: hidden;
    min-height: 700px;
    max-height: 700px;
}
.notify_item{
    margin-top: 15px;
    padding: 10px;
    border: 2px solid rgb(175, 58, 58);
    border-radius: 20px;
}
.notify_head_item{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 18px;
    font-weight: bold;
}
.notify_head_left_item{
    padding: 7px 0;
    min-width: 130px;
    text-align: center;
    background-color: red;
    border-radius: 20px;
}
.notify_head_right_item{
    padding: 7px 0;
}
.notify_mid_item{
    margin-top: 10px;
}
.notify_mid_head_item{
    font-size: 24px;
    font-weight: bold;
}
.content{
    margin: 5px 10px;
    max-width: 100%;
}
.notify_bot_item{
    display: flex;
    justify-content: flex-end;
}
