
.nav{
    display: flex;
    justify-content:space-around;
    margin: 5px 10px;
    color: black;
}

.nav_item{
    width: 33.33%;
    padding-top: 5px;
    display: flex;
    flex-flow: column;
    font-size: 20px;
    text-align: center;
}

.nav_item *{
    text-decoration: none;
}
.icon span.material-icons{
    font-size: 30px;
    color: black;
}
.title{
    color: black;
}
.nav_item.active{
    border-top: 2px solid #2196F3;
}
.nav_item.active *{
    color: #2196F3 !important;
}