
.nav{
    display: flex;
    justify-content:space-around;
    margin: 5px 10px;
}

.nav_item{
    width: 33.33%;
    padding-top: 5px;
    display: flex;
    flex-flow: column;
    font-size: 20px;
    text-align: center;
}
.icon span.material-icons{
    font-size: 30px;
}
.nav_item.active{
    border-top: 2px solid aqua;
}
.nav_item.active *{
    color: aqua;
}