<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Assignment</title>
    <!--icon link-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    
    <link href="./style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="containner">
        <h1 class="head"><a href="?url=room/room_view/"><span class="material-icons">
          arrow_back_ios
          </span>Báo cáo</a></h1>
          <div class="list">
            <div id="chart_div_2"></div>
          <div id="chart_div_3"></div>
          </div>
      <div class="nav">
        <div class="nav_item">
          <div class="icon">
            <span class="material-icons">
              home
              </span>
          </div>
          <div class="title">
              Nhà
          </div>
        </div>

        <div class="nav_item">
          <div class="icon">
            <span class="material-icons">
              meeting_room
              </span>
          </div>
          <div class="title">
              Phòng
          </div>
        </div>

        <div class="nav_item active">
          <div class="icon">
            <span class="material-icons">
              notifications
              </span>
          </div>
          <div class="title">
              Thông báo
          </div>
        </div>
      </div>
    </div>
    <script src="./dashboard.js"></script>
  </body>
</html>
