*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containner{
    margin: auto;
    max-width: 400px;
    box-shadow: 0 4px 8px 0 rgba(210, 127, 10, 0.2), 0 6px 20px 0 rgba(189, 115, 11, 0.19);
}
.head{
    padding: 10px 0;
    margin: 5px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}
.head_left{
    display: flex;
}
.head span{
    font-size: 32px;
}
.head h1{
    margin-left: 10px;
}
.body{
    margin: 0 20px;
    overflow: scroll;
    overflow-x: hidden;
    min-height: 700px;
    max-height: 700px;
}
.list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: center;
}
.item{
    width: 80%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.item h1{
    text-align: center;
    padding: 15px 0;
    width: 160px;
    margin: 15px 0;
    border: 2px solid black;
    border-radius: 20px;
}

/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    display: none;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-head-house{
    margin: 15px 20px 8px 20px;
    color: white;
}
.modal-head-house h1{
    margin-left: 10px;
}
.modal-head-house span{
    font-size: 32px;
}
.modal-content-house {
    background-color: #fefefe;
    margin: 0 20px;
    padding: 20px;
    border-radius: 0 30px 30px 30px;
    width: 260px;
}
.bot-item{
    display: flex;
    padding: 5px;
    margin: 5px;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 30px;
}
.bot-item h3{
    margin-left: 10px;
}
.bot-item:last-child{
    color: red;
    border-color: red;
}
.myModal_settinghouse_content{
    width: 100%;
    min-height: 400px;
    background-color: white;
    margin-top: 60px;
}
.head-settinghouse{
    display: flex;
    justify-content: space-between;
    color: #EA8C00;
    margin: 0 20px;
    padding: 10px 0;
    border-bottom: 1px solid #EA8C00;
}
.head-settinghouse > .left{
    display: flex;
}
.head-settinghouse > .left span{
    font-size: 32px;
}
.content-settinghouse{
    margin: 10px 20px;
}
.content-settinghouse input[type=text]{
    padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 100%;
  border-radius: 10px;
}
.image-edit{
    margin: 10px;
    color: #EA8C00;
    padding: 20px;
    background-color: aliceblue;
    border-radius: 20px;
}
.delete{
    padding: 10px;
    color: red;
    margin-bottom: 20px;
    border: 1px solid red;
    border-radius: 30px;
}
.delete:hover{
    color: white;
    background-color: red;
}
.dashboard{
    display: flex;
    justify-content: space-between;
}
.dashboard > div{
    margin-top: 10px;
    padding: 20px 5px;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(210, 127, 10, 0.2), 0 6px 20px 0 rgba(189, 115, 11, 0.19);
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.dashboard > div h3{
    text-align: center;
}

.nav{
    display: flex;
    justify-content:space-around;
    margin: 5px 10px;
}

.nav_item{
    width: 33.33%;
    padding-top: 5px;
    display: flex;
    flex-flow: column;
    font-size: 20px;
    text-align: center;
}
.icon span.material-icons{
    font-size: 30px;
}
.nav_item.active{
    border-top: 2px solid aqua;
}
.nav_item.active *{
    color: aqua;
}
#myModal_house{
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}